<p id="notice"><%= notice %></p>
<%= render "layouts/navbaradmin" %>
<div class="col-md-8">
  <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Tài khoản</h6>
        </div>
        <div class="col-sm-9 text-secondary">
         <%= @order.name %></div>
       </div>
       <hr>
       <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Địa chỉ</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @order.address %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @order.email %></div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payment</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= @order.pay_type %></div>
          </div>
        </div>
      </div>
      <div class="text-center p-2 mt-2">
        <%= link_to 'Edit', edit_order_path(@order) , class: "btn btn-info" %>
        <%= link_to 'Back', orders_path , class: "btn btn-danger"%>
      </div>
    </div>
  </div>


